*{
    font-family: 'Roboto', sans-serif;
}
.home{
    display: block;
    width: 50px;
    height: 50px;
    background-color:#86c9e4;
    font-size: large;
    color: white;
    text-align: center;
    border-radius: 50%;
}
.home i{
    line-height: 50px;
}
.formlogin{
    width: 500px;
    margin: 0px auto;
    margin-top:20px;
    
}
form {
    border: 3px solid #f1f1f1;
}
  
  /* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Set a style for all buttons */
  button {
    background-color:#86c9e4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    font-weight: bold;
}
  
  /* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: white;
    border:#86c9e4 solid 2px;
    color:black;
}
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
}
 span.psw a{
    color:black;
}
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }